.window-header {
  padding: 14px 20px;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  .window-header-main-title > span {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .window-header {
    flex-direction: column;
    text-align: center;
    .window-header-main-title {
      margin-bottom: 10px;
    }
    .window-header-main-title > span {
      display: inline;
    }
    .window-header-sub-title {
      display: none;
    }
  }

  .window-actions {
    width: 100%;
    justify-content: flex-end;
    // .window-action-button:first-child {
    //   transform: translateX(-100%);
    // }
    button {
      padding: 10px;
    }
  }
}
.window-header-title {
  max-width: calc(100% - 100px);
  overflow: hidden;

  .window-header-main-title {
    font-size: 20px;
    font-weight: bolder;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    max-width: 50vw;
  }

  .window-header-sub-title {
    font-size: 14px;
    margin-top: 5px;
  }
}

.window-actions {
  display: inline-flex;
}

.window-action-button {
  margin-left: 10px;
}
