// .login-container {
//     position: relative;
//     width: 360px;
//     height: 200px;
//     background-color: rgb(217, 217, 217);
//     padding: 20px;
//     border-radius: 10px;

//     .login-close-btn {
//         position: absolute;
//         top: 5px;
//         right: 7px;
//     }

//     & > p {
//         height: 60px;
//         line-height: 60px;
//         margin: 0;
//         padding: 0;
//         font-size: 22px;
//         color: var(--login-text-color);
//         font-weight: 600;
//     }

//     input {
//         text-align: left;
//         padding: 0 1em;
//         margin: 10px 0;
//     }

//     input:focus {
//         outline:none;
//         border: 1px solid var(--login-text-color);
        
//     }

//     & > #login-tel {
//         display: block;
//         max-width: none;
//         width: 100%;
//     }
    
//     input::-webkit-outer-spin-button,
//     input::-webkit-inner-spin-button {
//         -webkit-appearance: none;
//         input[type="number"] {
//             -moz-appearance: textfield;
//             appearance: textfield;
//         }
//     }

//     button {
//         display: inline-flex;
//         float: right;
//         width: 120px;
//         margin: 10px 0;
//         padding: 9.43px;
//         // padding: 0px;
//         color: var(--login-text-color);
//         >div{
//             font-size: 13px;
//         }
//     }

// }

.login-container {
    box-sizing: border-box;
    position: relative;
    width: 360px;
    // height: 200px;
    background-color: var(--sidebar-background);
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;

    & > p {
        height: 60px;
        line-height: 60px;
        margin: 0;
        padding: 0;
        font-size: 22px;
        color: var(--login-text-color);
        font-weight: 600;
    }

    input {
        text-align: left;
        max-width: none;
        width: 100%;
        margin: 10px 0;
        padding: 0 1em;
    }

    input:focus {
        outline: 1px solid black;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        input[type="number"] {
            -moz-appearance: textfield;
            appearance: textfield;
        }
    }

    .tel-default:focus {
        outline: 1px solid black;
    }
    .tel-success{
        outline: 1px solid green;
    }
    .tel-error {
        outline: 1px solid #ff4d4f;
    }
    .login-code-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .login-code {
            width: 180px;
        }
        button {
            width: 120px;
            height: 36px;
            color: var(--login-text-color);
        }
        button:disabled {
            color: #888888;
            &:hover {
                cursor: no-drop;
            }
        }
    }

    .loading {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        span {
            white-space: nowrap;
            overflow: hidden;
            animation: typing 1s infinite steps(3, start);
        }
    }

}
@keyframes typing {
    0% { width: 0; margin-right: 1.5em; }
    33% { width: .5em; margin-right: 1em;}
    66% { width: 1em; margin-right: .5em;}
    100% {width: 1.5em; margin-right: 0;}
}