.login-container {
    position: relative;
    width: 360px;
    height: 200px;
    background-color: rgb(217, 217, 217);
    padding: 20px;
    border-radius: 10px;

    .login-close-btn {
        position: absolute;
        top: 5px;
        right: 7px;
    }

    & > p {
        height: 60px;
        line-height: 60px;
        margin: 0;
        padding: 0;
        font-size: 22px;
        color: var(--login-text-color);
        font-weight: 600;
    }

    input {
        text-align: left;
        padding: 0 1em;
        margin: 10px 0;
    }

    input:focus {
        outline:none;
        border: 1px solid var(--login-text-color);
        
    }

    & > #login-tel {
        display: block;
        max-width: none;
        width: 100%;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        input[type="number"] {
            -moz-appearance: textfield;
            appearance: textfield;
        }
    }

    button {
        display: inline-flex;
        float: right;
        width: 120px;
        margin: 10px 0;
        padding: 9.43px;
        // padding: 0px;
        color: var(--login-text-color);
        >div{
            font-size: 13px;
        }
    }

}