.subscribe-container {
    position: relative;
    width: 500px;
    height: 600px;
    background: white;
    border-radius: 20px;
    .close-btn {
        position: absolute;
        top: 5px;
        right: 7px;
    }
    .top-title {
        margin: 30px 0;
        text-align: center;
        font-weight: 600;
        font-size: 22px;
    }
    .package {
        display: flex;
        height: 120px;
        padding: 20px;
        justify-content: space-between;
        // border: 1px solid red;
        .price {
            display: flex;
            flex-direction: column;
            // box-sizing: border-box;
            width: 30%;
            height: 170px;
            border-radius: 10px;
            background: rgb(214, 100, 104);
            color: rgb(255, 227, 227);
            text-align: center;
            text-decoration: none;
            &:hover {
                color: white;
                background-color: rgb(173, 0, 9);
            }
            &:focus {
                color: white;
                border: 2px solid black;
                background-color: rgb(173, 0, 9);
                .list {
                    z-index: 999;
                }
            }
        }
        .taocan-name {
            font-size: 18px;
            font-weight: 600;
            line-height: 50px;
            // background-color: rebeccapurple;
        }
        .taocan-price {
            font-size: 38px;
            font-weight: 1000;
            line-height: 68px;
            // background-color: aqua;
        }
        .taocan-title {
            font-size: 12px;
            line-height: 52px;
            // background-color: blue;
        }
        .list {
            user-select: none;
            // display: none;
            columns: 3;
            gap: 20px;
            padding: 0 20px;
            position: absolute;
            width: 460px;
            top: 310px;
            left: 0px;
            color: black;
            font-size: 14px;
            background: white;
            text-align: left;
            .list-item {
                display: flex;
                flex-direction: row;
            }
            & > div{
                // color: #ba0000;
                // white-space: pre-line;
                line-height: 1.5em;
                height: 3em;
                word-wrap: break-word;
                // border: 1px solid red;
            }
            svg {
                margin: 0.3em 0.3em 0 0;
            }
        }
        // .list {
        //     display: flex;
        //     flex-wrap: wrap;
        //     justify-content: space-around;
        //     position: absolute;
        //     top: 310px;
        //     left: 0px;
        //     width: 500px;
        //     background: white;
        //     .list-item {
        //         display: flex;
        //         flex-direction: row;
        //         text-align: left;
        //         color: black;
        //         width: 30%;
        //         svg {
        //             margin: 10px 10px;
        //         }
        //     }
        // }

    }
    .pay {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 200px;
        background-color: rgb(173, 0, 9);
        border-radius: 20px;
        & > p {
            text-align: center;
            color: white;
            font-size: 28px;
            margin: 10px 0;
        }
        & > div {
            display: flex;
            justify-content: space-around;
        }
        .code {
            width: 100px;
            height: 100px;
            border-radius: 10px;
            background: white;
        }
        .payplant {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 220px;
            height: 100px;
            border-radius: 10px;
            background: white;
            
            a {
                box-sizing: border-box;
                position: relative;
                text-decoration: none;
                // border: 1px solid black;
                box-shadow: 0 0 2px;
                border-radius: 6px;
                width: 93%;
                height: 40px;
                line-height: 40px;
                color: black;
                img {
                    width: 40px;
                    height: 40px;
                    margin: 0 10px;
                    vertical-align: top;
                }
                svg {
                    display: none;
                }
                &:active {
                    color: black;
                }
                &:focus{
                    // line-height: 36px;
                    svg {
                        display: block;
                        position: absolute;
                        top: 12px;
                        right: 10px;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                    }
                }
            }
            .zhifubao {
                &:focus {
                    color: #1678ff;
                    box-shadow: 0 0 0 1px rgb(59, 154, 255);
                }
                
            }
            .weixin {
                &:focus {
                    color: #62b900;
                    box-shadow: 0 0 0 1px rgb(68, 177, 68);
                }
            }
        }
    }
}